.calculate {
  padding-block: 146px;
}

.calculate-inner {
  display: flex;
  align-items: center;
  column-gap: 36px;
}

.calculate-body {
  flex-grow: 1;
  max-width: 627px;
}

.calculate-title:not(:last-child) {
  margin-bottom: 16px;
}

.calculate-description {
  max-width: 385px;
}

.calculate-description:not(:last-child) {
  margin-bottom: 30px;
}

.calculate-form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px;
}

.calculate-form-body:not(:last-child) {
  margin-bottom: 26px;
}

.calculate-input.wide {
  grid-column: -1 / 1;
}